.uw-layer{
    position: fixed;
    color: #fff;
    z-index: 1000;
    max-width: 400px;
    display: block;
}

.uw-layer-tip{
    -webkit-animation-duration:0.3s;
    animation-duration:0.3s;
    position: fixed;
    left: 50%;
    top:50%;
    padding: 16px;
    background: rgba(0,0,0,.6);
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    max-width: 200px;
    line-height: 1.5;
}